/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
/*	background-color:#F5F1E5 !important;*/

/*background: url(../img/bg_body.png);*/
background: url(../img/fback_light2.png);

/*background: url(../img/plant.png) no-repeat;*/
color: #3A3A3A;
font-family: Georgia, 'Times New Roman', serif;
font-size: 12px;
margin: 0;
padding: 0;

background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
}

p{
	text-align:justify;
}
.container{
    margin-top: 1.5%;
/*	background-color:#FFF;*/
}
.header{
/*    background: url(../img/ayurveda_logo.png) repeat;*/
    
    padding: 0 25px 0;
/*    border-radius: 5px;*/
/*    background-color: #FCD847;*/
/*    background: url(../img/blue_background.png) repeat;*/
}
#heading_top{
/*	background-color:#FFF !important;*/
    
    margin-bottom: 1%;
/*    border: 1px solid #000;*/
}
.logo_info{
/*	font-size:24px;
	color:#0B3A61;
	font-weight:bold;
	text-align:center;*/
	/*background-color:#0B3A61;*/
}
.logo_info_title p{
/*	font-size:32px;
	color:#0B3A61;
	font-weight:bold;
	text-align:center;
	margin-top:20px;*/
	/*background-color:#0B3A61;*/
/*        color: #E7750A;*/
        color: #5e7e95;
        letter-spacing: .07em;
/*        font-style: oblique;*/
    font-family: "Monotype Corsiva";
    font-size: 38px;
    margin-bottom: -7px;
    padding-left: 14px;
    margin-top: 5px;
}
.logo_info_title strong{
    color: #5c8d1c;
}
	
#heading_top ul{
	margin-top:20px;
}
.top_navbar{
	margin-bottom:0px;
}
.top_navbar ul{
	background-color:#0B3A61;
	/*border-top:6px solid #0B3A61;*/
}
ul.nav{
	width:100%;
}
.nav li{
    border-right: 1px dotted #cccbc3;
/*    text-align: center;*/
/*    padding-left: 4%;*/
}
.nav li:last-child {
    border-right: 0 none !important;
}
.padding_left_footer li {
    padding-left: 0;
}
.margin_left{
    margin-left: -32px !important;
}
/*
.top_navbar ul li{
	background-color:#0B3A61;
	border-top:6px solid #0B3A61;
	padding-left:2px;
	padding-right:2px;
	float:left;
}
.top_navbar ul li a{
	color:#FFF;
	padding-top:4px !important;
	padding-bottom:10px !important;
}
.top_navbar ul li a:hover{
	color:#0B3A61;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
*/
.icon{
	background-color:#FFF !important;
	border-top:0px !important;
	float:right;
}
.icon a{
	padding:0px !important;
}
.icon img{
	height:36px;
	width:36px;
}
.icon a:hover{
	background-color:#FFF !important;
}
.language_margin{
    
}
.language_padding{
    padding-top:0px;
}
.language{
/*    font: 0.8em/1 "Avenir LT W01 85 Heavy", sans-serif;*/
    font: 0.6em/.4 "Avenir LT W01 85 Heavy", sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .05em;
    float: right;
    margin: 0;
    
}
/*.language_margin{
     text-transform: uppercase;
    text-align: center;
    letter-spacing: .05em;
    float: right;
}*/

.language li{
    display:inline;
}


.language a{
/*    color: #D5D5D5 !important;*/
/*    color: #ffffff;*/
    font-size: 10px;
    text-decoration: none;
    
   
}
.language a:hover{
    color: #5e7e95 !important;
    text-decoration: none;
    
}

.nav_decoration{
    font: 0.8em/1 "Avenir LT W01 85 Heavy", sans-serif;
text-transform: uppercase;
text-align: center;
letter-spacing: .05em;
color: #f8f8f6;
margin: 0 1px;
display: block;
position: relative;
}
#banner img
{
	width:-moz-available;
	width:-webkit-fill-available;
	height:500px;
}

#information{
	background-color:#FFF;
}
#information h3{
	margin-top:20px;
	padding:5px;
}
#information a{
	padding:5px;
	font-size:13px;
}
#information a:hover{
	color:#900;
}
#information hr{
	margin-bottom:5px;
	margin-top:0px;
}


#content{
	margin-top:10px;
}

#content p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	padding-left:2px;
	padding-right:2px;
}
#content a{
	font-size:13px;
}
#content a:hover{
	text-decoration:none;
	color:#900;
}
.date{
	background-color:#BDBDBD;
	width:60px;
	color:#FFF;
	padding:3px;
}
.support
{
/*	background-color:#79EA7F;*/
        background-color:#F9FAF5;;
/*        background: url(../img/bg_body.png) repeat;*/
	border-radius:10px;
        margin-top:10px;
	padding:8px;
        box-shadow: 0 0px 6px 0 #5e7e95;
}
.support a{
	color:#000;
}
.support a:hover{
/*	color:#3399FF !important;*/
}
.support p{
	font-size:13px;
}
.support .col-lg-8 a:hover
{
	color:#900 !important;
	}
.gallery .row{
	margin:0px !important;
}
.gallery .row .col-lg-4{
	padding:2px 0px;
}

.link a{
	color:#06F;
}
.link a:hover{
	color:#900 !important;
}
.link ul{
	list-style-type:none;
}
.link ul li img{
	height:10px;
	width:10px;
}
#faculty{
	margin-top:50px;
}
#faculty h3{
	margin-bottom:30px;
}
#faculty p{
	margin-bottom:0px !important;
	margin-top:10px !important;
}
.footer{
	
/*	margin-top:30px;*/
	margin-bottom:-10px;
/*	margin-left:-15px;
	margin-right:-15px;*/
        border-radius: 5px;
        margin-top: 10px;
        margin-left: none;
        margin-right: none;
/*        background: #EFAA23 !important;*/
/*        height:53px;*/
       
}
.background_colour{
/*    background-color:#EFAA23;*/
      background: url(../img/blue_background.png) repeat-x;
      border-radius:5px;
}
.footer P{
    /* text-align: center; */
    color: #FFF;
    font-weight: normal;
    /* padding-bottom: 5px; */
    margin-top: 0px !important;
    /* padding-left: 34px; */
    font-size: 13px;
}
.footer a{
    font-size: 12px;
}

.footer ul li{
	float:left;
	margin-top:8px;
}
.footer ul li a{
	color:#FFF;
	padding-top:0px !important;
	padding-bottom:0px !important;
	border-right:1px solid #CCC;
}
.footer ul li a:last-child{
    border-right: none;
}
#contact a{
	border-right:none !important;
}
/*.footer ul li a:hover{
	color:#0B3A61;
}*/
.footer ul li a:hover{
/*    color:#DB9514 !important;*/
    background-color: none !important;
    text-decoration: none;
    
}

.footernav{
    padding: 10px 3px 0;
    margin-right: -60px;
}
.footernav a{
    color: #FFF;
}
.footernav a:hover{
    color: #FFF;
    text-decoration: none;
}
.footernav p{
/*    float:right;*/
    margin-right: 2%;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
ul.icons{
	list-style:none;
	padding-top:10px;
}
ul.icons li{
	float:left;
	padding-left:2px;
	padding-top:0px;
	text-align:right;
}
#banner{
	width:100%;
	height:auto;
}
.sr-white{
	background-color:#fff;
	width:20px;
}

section{
/*    padding: 40px 0;*/

/*makes change here*/
}
.branches{
    margin-bottom: 1.5%;
    padding-bottom: 1%;
    margin-top: 1.5%;
    padding-left:  0% !important;
    padding-right: 0% !important;
/*    border: 1px solid #000 !important;*/
    
}
.branches h3{
/*    color: #5e7e95;*/
}
.branches h4{
    color: #5e7e95;
    margin-top: 2px;
font-size: 19px !important;
margin-bottom: 2px;
}
.branches p {
    font-size:13px;
}
.menu_background{
/*background: #EFAA23;*/
 background: url(../img/blue_background.png) repeat;

/*background: url(../img/menu_background.png) repeat-x top;*/
/*background-image: -webkit-linear-gradient(top, #f58425 0%, #D7D429 100%);
    background-image: -webkit-linear-gradient(top, #FF5A00 0%, #FFAE00 100%);  
/*background-image: -moz-linear-gradient(top, #f58425 0%, #D7D429 100%);  
    background-image: -ms-linear-gradient(top, #f58425 0%, #D7D429 100%);  
    background-image: -o-linear-gradient(top, #f58425 0%, #D7D429 100%);  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f58425', endColorstr='#D7D429');*/
}
.menu_background li a:hover{
    background-color: #9FD80B !important;
}

.menu_color {
/*    background-color: #000000;*/
    font: #f58425 !important;
}
.menu_color a{
    
    color: #fff !important;
}
.menu_color li {
/*    padding-left: 0!important;
    padding-right: 0!important;*/
}
.menu_color li a{
    padding: 15px 21px !important;
    font-family: Times, serif !important;
    font-size: 18px !important;
    text-transform: inherit;
    text-shadow: none !important;
}
.menu_color li:hover{
/*    background-color: #77f539 !important;*/
/*    background-color: #cefe52;*/
    color: #D5D5D5 !important;
}
.menu_color li a:hover{
    background-color: #76a0be !important;
}

.read_more {
/*    background: #84D246;*/
    background: #5e7e95;
    color: #FFF !important;
    border-radius: 3px;
    padding: 3px 9px;
    font-size: 14px;
    clear: both;
    float: right;
    text-decoration: none !important;
    
}
.read_more:hover{
    background-color: #76a0be !important;
}

#makeMeScrollable
		{
                width:100%;
		height: 158px;
                position: relative;
		}


#makeMeScrollable div.scrollableArea *
{
	position: relative;
	display: inline;
/*	float:left;
        height:30%;*/
	margin: 0;
	padding: 3px;
/*      border: 3px solid chartreuse;*/
/*        border: 1px solid #5e7e95;;*/
	/* If you don't want the images in the scroller to be selectable, try the following
		block of code. It's just a nice feature that prevent the images from
		accidentally becoming selected/inverted when the user interacts with the scroller. */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.testimonial_old{
margin-top: -21px;
margin-bottom: -8%;
}
.testimonial p{
    font-size: 13px;
    color: #000;
}
.testimonial strong{
     color: #000;
}
.testimonial h2{
  margin-top: 0;
}

.testimonial-inner {
  color:#858586;
  font-size: 14px;
}

.testimonial-inner .pull-left{
  border-right: 1px solid #e7e7e7;
  padding-right: 15px;
  position: relative;
}

.testimonial-inner .pull-left:after{
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 50%;
  margin-top: -5px;
  background: #FFF;
  -webkit-transform: rotate(45deg);
  border: 1px solid #e7e7e7;
  right: -5px;
  border-left: 0 none;
  border-bottom: 0 none;
}
.introduction {
    margin-bottom:10px;
}
.introduction h2{
    color: #5e7e95 !important;
}
.introduction p {
    font-size:13px;
}
.search_margin{
    float: right;
    margin-bottom: 1%;
    margin-top: 4%;
}
/*.search_margin input{
    border-color: #f58425 !important;
    
}*/
/*.body{
    border: 2px solid #000;
}*/
.middle_whole_body{
/*    background: url(../img/middle_whole_body.png) repeat !important;*/
    
}
.small_body{
/*    background: url(../img/ayurveda_background.png) repeat-x;*/
/*    border:1px solid #73E047;*/
    padding:10px;
/*background: url(../img/middle_whole_body.png) repeat;*/
    border-radius: 10px;
    box-shadow: 0 0px 10px 0px #5e7e95;
    background-color: #fff;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.small_body p{
    font-size: 14px;
    font-family: PrioriSanRegularMedium !important;
}
/*.small_body div{
    font-size: 14px;
    font-family: PrioriSanRegularMedium;
}*/
.container{
    margin: auto;
    width: 100% !important;
    overflow: hidden;
}
.menu_bar{
/*    background: #EFAA23 !important;*/
/* background: url(../img/blue_background.png) repeat-x;*/
/*    height:53px;*/
    padding-bottom: 53px;
    margin-bottom: 10px;
    
}
.margin_bottom{
/*    margin-bottom:2%;*/
/*    background: url(../img/creeper.png) repeat-x;*/
}
/*.margin_bottom a {
    text-decoration: none !important;
}*/

/*body {
  position: relative;
  height: 1000px;
  font-family: 'Helvetica', Arial, sans-serif;
  line-height: 1.3;
}*/
p {
  margin-bottom: 1.5em;
}
#content {
  max-width: 500px;
  margin: 3em auto;
}
#floating-social-icons {
  position: fixed;
  right: 0;
  top: 200px;
  z-index: 1;
  list-style-type: none;
}

#floating-social-icons li img {
  max-width: 54px;
}
#floating-social-icons li:hover {
  opacity: .8;
}
.feedback{
    position: absolute;
    right: 0;
    top: 555px;
    z-index: 1;
  
}
.chat_blank{
    position: absolute;
    right: 72px;
    top: 789px;
    z-index: 1;
  
}
.image_width{
    width:30%;
}
.master_card{
    margin-bottom: 6%;
}
.master_card h3{
    margin-left: -10px;
    
 
}
.master_card a{
    float:right;
}
.dropdown_background li a{
    padding: 5px !important;
}

.dropdown_background a:hover{
    background-color: #fff !important;
}

.dropdown_menu_background li a{
/*     color: #EFAA23 !important;*/
/*     background-color: #A1DA0D;*/
     
}
.dropdown_menu_background li a:hover{
/*    background-color: #000;*/
/*    color: #EFAA23 !important;*/
    color: #5e7e95 !important;
}
/*.signin{
    float:right;
}
.signin p{
    color: #EFAA23 ;
    color: #ffffff;
}
.signin p:hover{
    color: #EFAA23 ;
}
.signin a:hover{
    text-decoration: none;
}*/
.future_projects_height_given {
/*    height: 245px;*/
}
.padding_image img{
/*    padding: 5px;*/
    width: 44px;
    display: inline;
}
h1,h2,h3,h4,h5,h6{
    font-family: Times, serif !important;
/*    font-size: 23px !important;*/
    text-transform: uppercase !important;
}
.our_services h3{
    color: #5e7e95;
}
.text_over_image {
    position: relative;
    background: rgba(0, 0, 0, 0.35);
    /*height: 61px;*/
    margin-top: -40px;
    max-width: 192px;
    padding: 5px;
    display: block;
    color: #fff;
    margin-left: -135px !important;
    top: 33px;
    left: -53px;
}
.text_over_image_br {
    position: relative;
    background: rgba(0, 0, 0, 0.35);
    margin-top: -40px;
    max-width: 192px;
    padding: 5px;
    display: block;
    color: #fff;
    margin-left: -135px !important;
    top: 55px;
    left: -73px;
}

.scrollWrapper a:hover{
    text-decoration: none !important;
}
/*.text_over_image p {
color: #fff;
font-size: 24px;
max-width: 1070px;
padding: 10px;
margin: 0 auto;
}*/


/*Css for social media*/

a {
  color: #fff;
  text-decoration: none;
}
.me {
  width: 400px;
  margin: 90px auto;
}
.me p,
.me h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.me p {
  font-weight: 200;
}
.me span {
  font-weight: bold;
}
.social {
  position: fixed;
  top: 200px;
  right: 0;
  -webkit-transform-origin: 41% 50%;
  -webkit-transform: rotate(180deg) translate(-5%, 10%);
  z-index: 1;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li a p{
    -webkit-transform-origin: 40% 140% !important;
    -webkit-transform: rotate(180deg) translate(-5%, 10%)!important;
    margin: -31px -28px 10px;
    color: #124799 !important;
}
.social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
  text-decoration: none;
}
.social ul li:hover i {
  color: #fff;
  background: rgba(0, 0, 0, 0.36);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

/*body {
  background: #25343F;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}*/

/*End of social media*/


.background_image_default{
    background-image: none !important;
}
.other_page{
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
}
.other_page{
    padding:10px;
}
.other_page div{
    font-size: 12px;
    text-align: justify;
/*    padding: 10px;*/
}
.left_div{
    box-shadow: 0 0 6px 0 #5e7e95;
    margin-top:10px;
    background-color: #F9FAF5;
    border-radius: 10px;
    
}
/*.left_div h2.none{
    text-decoration: none!important;
}*/
.right_div{
   padding-right: 0 !important;
}
/*.comments{
    padding:5px;
}*/
.comment_image{
    margin-left:10px;
    
}
.comment_title{
    font-size: 15px;
    color: #5c8d1c;
}
.margin-left_comments{
    margin-left:10%;
}

.contact_both{
    margin-bottom:10px;
/*    border: 1px solid #5e7e95;*/
/*    margin-top:3%;
    margin-bottom: 3%;
    padding-top:1%;*/
}
.contact_both p {
    font-size: 13px;
}
.left_div h4{
    color: #5c8d1c;
}
.margin_bottom_comments{
    margin-bottom:10px;
}
.comments_div{
   overflow:hidden;
   background: #C3CED0;
   padding: 12px;
   border-radius: 5px;
}
.no_hover:hover{
    text-decoration: none;
}
.margin_bottom_forum{
    margin-bottom:8px;
}
.margin_bottom_forum a:hover{
    text-decoration: none!important;
}
.blog_details{
    margin-bottom:10px;
}
.blog_details h3{
    color:#5c8d1c;
}
.blog_details h3:hover{
    text-decoration: none!important;
}
.contact_us_form{
    color:#5c8d1c;
}
.ul_nav li a{
    color:#fff !important;
    font-size: 18px;
}
